.dashboard{
  margin-top: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dashboard section{
  border: solid 1px black;
  text-align: center;
}