#dashboard{
  height: 65px;
  background: #244242;
}

.dasboard-container{
  background: #244242;
  width: 100vw;
  height: 100vh;
  border: 1px solid salmon;
  overflow: hidden;
}

.dashboard{
  width: 98%;
  height:99vh;
  max-width: 1000px;
  overflow:hidden;
  background: url('../images/deskdash-small.png') no-repeat center bottom;
  background-size: cover;
  margin: 0px auto;    
  border: 1px solid palevioletred;
}

.user-stats-laptop{
  background: url('../images/computer.png') no-repeat bottom center;
  background-size: contain;
  width: 95%;
  position: relative;
  top:10%;
  border: 1px solid greenyellow;
  height:65%;
}

