@import url("https://use.typekit.net/ssa1qac.css");

h2 {
  margin: 0;
/* font-family: ff-prater-block-web, sans-serif; */
font-weight: 400;
font-size: 30px;
font-style: normal;
text-align:center;
margin-top:20px;

/* background: -webkit-linear-gradient(rgb(0, 112, 112),rgb(1, 59, 50), #FF4E28);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */

}

.learn-spanish-img{
  height: 50vh;
}
.learn-spanish-img img{
display: block;
margin-left: auto;
margin-right: auto;
width: 55%;
max-width: 700px;
margin-top:3px
}

.intro-text{
margin-top: 20px;
padding:50px;
}

.login-img{
  width: 100%;
  position: relative;
  top: 20%;
}