
.Modal {

  background-color: black;
  max-width: 700px;
  border: 2px solid orange;
  z-index: 100;
  opacity: .95;   
  display: block;
  margin-top:120px;
  width: 90%;
  height:70vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
margin-top: 120px;
}

.stats-modal{
  /* border: 1px solid orange; */
  width:80%;
  height: 80%;
}
.stats-modal h1{
  width: 90%;
  text-align: center;
  color:white;
  font-size: 30px;
}

.stats-modal p{

  text-align: center;
  color:white;
  font-size: 20px;
}

.modalButton{
  background:#1AAB8A;
  color:#fff;
  border:none;
  font-size: 16px;
  height: 30px;
  max-height:200px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  border: 1px solid palegoldenrod;
}


.modalButton:hover{
  background:#fff;
  color:#1AAB8A;
}

@media only screen and (min-width: 500px){
  .stats-modal h1{
    font-size: 50px;
  }
  
}