
.Modal {
  position: relative;
  background-color: black;
  width:60%;
  max-width: 700px;
  height:380px;
  border: 2px solid orange;
  top: 300%;
  z-index: 100;
  opacity: .9;   
  margin: 0 auto;
}
.stats-modal{

  position: relative;
  top: 10px;
  margin-top: 0px;
  width: 100%;
  text-align: center;
}

.stats-modal h1{
  width: 90%;
  text-align: center;
  color:white;
  font-size: 50px;
}

.stats-modal p{

  text-align: center;
  color:white;
  font-size: 20px;
}


.modalButton{
  background: #1AAB8A;
}