
.card{
  border: solid 1px red;
  width: 50%;
  height:40vh;
  max-width: 600px;
  position: relative;
  margin-top:35px;
  z-index: 2;
background: rgba(249, 249, 249, 0.72);
border: 1px solid #006B6E;
border-radius: 77px;
}
.card h3{
  text-align: center;
}

.current-word{
  background: #E97C4D;
  position: relative;
  top:-20px;
  height: 50x;
  border-radius: 9px;

}
.user-form{
  display:block;
  padding: 20px;
}

.user-form button{
  display:block;
  border: solid 1px black;
}

.user-form input{
  display:block;
  border: solid 1px black;
}