.play-page{
  margin-top: 80px;
  background:radial-gradient(472.40px at 50% 50%, #6F9495 0%, #006B6E 100%);
  height:100vh;
  position: relative;
  width:100vw;
  /* height:100vh;
  background: url('../images/houses.png') no-repeat 100% 110%;
    -webkit-background-size: 100% 50%;
    -moz-background-size: auto;
    -o-background-size: auto;
    width:100%;
  margin: 0 auto;

	background-attachment: fixed;
  background-repeat: no-repeat;
  border: 1px solid black; */
}

.houses img{
  width:100%;
  position: absolute;
  bottom:40px;
}



@media only screen and (min-width: 1000px) {


.houses img{
  width:100%;
  position: absolute;
  bottom:20px;
}

}

@media only screen and (min-width: 1375px) {
  
  .houses img{
    width:90%;
    position: absolute;
    bottom:-25px;
    left: 5%;
    text-align: center;
  }
  
  }
