html{scroll-behavior:smooth}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-bar{
  background: aqua;
  position: fixed;
  border-bottom: 1px solid black;
  height:80px;
  width: 100vw;
  top: 0px;
}

h1 {
  margin: 0;
  margin-left: 20px;
}

.navigation-bar {
  padding: 10px;

}

.navigation-bar h1, .navigation-bar nav, .navigation-bar-nav li {
  display: inline-block;
  line-height: 70px;
  /* vertical-align: middle; */
}

.navigation-bar-nav li {
  margin-right: 20px;
  text-align: right;
}

.navLinks{
  text-align: right;
  position: absolute;
  top:-10px;
  right: 25px;
}

#home h2{
text-align: center;
padding-top: 90px;
}

#home p{
  text-align: justify;
  padding: 80px;
  }

.page-container{
  height: 90vh;
  width:100vw;
}

.user-page{
  display: flex;
  justify-content: center;
}

.user-area{
 width:50vw;
  border: solid black 1px;
}

div{
  height: 80px;
}